.job-items-container {
  list-style-type: none;
  background-color: #272727;
  margin-bottom: 20px;
  border-radius: 25px;
  padding: 20px;
  width: 100%;
}

.company-logo-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.company-logo-url {
  height: 70px;
}

.company-title-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.company-title {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
}

.company-rating {
  color: #ffffff;
  margin-left: 10px;
}

.details {
  color: #ffffff;
  font-size: 12px;
  font-family: 'Roboto';
}

.company-description {
  color: #ffffff;
  font-family: 'Roboto';
}

.link-item {
  cursor: pointer;
  list-style: none;
  text-decoration: none;
}

.rating-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.star {
  color: #fbbf24;
}

.job-description-container {
  display: flex;
  justify-content: space-between;
}

.post-container {
  display: flex;
  justify-content: space-evenly;
  width: 15%;
  align-items: center;
}

.location {
  color: #ffffff;
  height: 70%;
}

.description-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 15px;
}

.description {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
}

.hr-1-line {
  color: grey;
  border: 1px solid grey;
}
