.similar-list-item-container {
  list-style-type: none;
  margin-right: 50px;
  background-color: #272727;
  width: 20%;
  padding-left: 10px;
  margin-left: 20px;
  border-radius: 12px;
}

.similar-img-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.similar-companyLogoUrl {
  height: 70px;
  width: 70px;
}

.similar-rating-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10px;
}

.similar-job-heading {
  color: #fff;
  font-size: 16px;
  font-family: 'Roboto';
}

.star-container {
  display: flex;
  align-items: center;
}

.star-rating {
  margin-left: 10px;
  color: #fff;
}

.similar-job-description {
  color: #fff;
  font-size: 18px;
  font-family: 'Roboto';
}

.similar-job-description-container {
  color: #f1f5f9;
  font-size: 12px;
  font-family: 'Roboto';
}

.similar-icon-container {
  display: flex;
  align-items: center;
}

.similar-details {
  margin-left: 10px;
  color: #f1f5f9;
  font-size: 12px;
  font-family: 'Roboto';
}

.similar-location {
  color: #ffffff;
  margin-left: 10px;
}
